.navigation{

    &__list{
        float: right;
        max-width: 32.6rem;

        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }

    a{

        &:hover,&:active,&:focus,&.current{
            text-decoration: none;
            background-color: $linkColor;
            color: $navigationLinkHover;
        }
    }

    &__heading{
        font-size: 0;
        position: absolute;
    }

    &__elt{
        float: left;
        text-align: center;
        border: 0.2rem solid $linkColor;

        &:nth-child(even){
            border-left: none;
        }

        &:nth-child(n+3){
            border-top: none;
        }

        &:last-child{
            float: right;
        }
    }

    &__link{
        display: table-cell;
        min-width: 16rem;
        height: 16rem;
        vertical-align: middle;

        &.home:before{
            display: block;
            content: "A";
            font-size: 4.8rem;
            font-weight: 500;
        }

        &.projects:before{
            display: block;
            content: "P";
            font-size: 4.8rem;
            font-weight: 500;
        }

        &.contact:before{
            display: block;
            content: "C";
            font-size: 4.8rem;
            font-weight: 500;
        }
    }
}
