.contact{
    p{
        line-height: 2.5rem;
    }

    a.contact__way-email{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 450px) {
    .contact{

        a.contact__way-email{
            display: block;
        }
    }
}
