.header{
    position: relative;
    background: linear-gradient(0deg, rgba(29,29,27,0.6), rgba(29,29,27,0.6)), url(../assets/img/cover.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $headerHeight;

    a.header__more{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -100px;
        background-color: $descriptionColor;
        font-size: 0;
        text-align: center;
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        text-decoration: none;

        &:after{
            font: 5rem "Glyphs";
            content: "";
            line-height: 120px;
            color: $contrastColor;
        }

        &:hover,&:focus,&:active{
            background-color: $linkColor;
        }
    }
}

@media screen and (max-width: 1450px) {
    .header{

        a.header__more{
            display: none;
        }
    }
}
