.form{
    position: relative;
    z-index: 5;

    &__elt{
        max-width: 45em;
        margin: 0 auto
    }

    &__elt:last-child{

        input{
            width: 100%;
        }
    }

    &__elt+&__elt{
        margin-top: 5rem;
    }

    &__label{
        display: inline-block;
        min-width: 10em;
    }

    &__input{
        width:  calc(100% - 14em);
    }

    &__textarea{
        display: block;
        width: 100%;
        margin-top: 2rem;
    }
}
