.social{
    display: inline-block;

    &__elt{
        margin-left: 6rem;
    }

    a+a{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 971px) {
    .social{
        display: block;
        text-align: center;
        margin-top: 4.8rem;

        &__elt{
            display: inline-block;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 425px) {
    .social{

        &__elt{
            display: block;
            text-align: left;
        }
    }
}
